@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');

body {
    color: rgb(250, 250, 250);
    font-family: 'Ubuntu', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}

.wrapper {
    position: absolute;
    height: 99%;
    width: 99%;
}

.charwrapper {
    position: absolute;
    background: rgb(91,90,96);
    background: linear-gradient(180deg, rgb(65, 65, 66) 0%, rgba(42,41,41,1) 35%, rgba(41,46,47,1) 100%); 
    width: 20%;
    padding: 1% 0;
    border-radius: 5px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -100%);
    opacity: 0.82;
    border: 1px solid #b1e5f2ff;
}

.charinfowrapper {
    width: 80%;
    margin-left: 10%;
    padding: 4% 0;
    display: flex;
    flex-direction: row;
}

.charname {
    margin-bottom: 1%;
}

.infochar {
    font-size: 80%;
    margin-top: 8%;
}

.fa-id-card.infocharicon {
    margin-right: 8%;  
}

.fa-person.infocharicon {
    margin-right: 13%;
}

.fa-user-doctor.infocharicon {
    margin-right: 8%;
}

.charimage {
    background-color: black;
    width: 30%;
    margin-left: 34%;
}

.buttonswrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttonchar {
    margin: 3% auto;
    padding: 1% 8%;
    border-radius: 3px;
}

.delete {
    background-color: #e13700ff;
}

.select {
    background-color: #3ec300ff;
}

.charSelectorDiv {
    position: absolute;
    width: 10%;
    height: 30%;
    transform: translate(-50%, -50%);
}

.AddNewChar {
    position: absolute;
    left: 95%;
    top: 93%;
    color: whitesmoke;
    background: rgba(145, 143, 143, 0.5);
    box-shadow: 3px 3px 5px rgb(5, 5, 5, 0.5);
    transition: 0.25s;
    padding: 0.7%;
    font-size: 2vh;
    border-radius: 50px;
    margin: 0.3%;
    display: inline-flex;
}

.AddNewChar:hover {
    background: rgba(145, 143, 143, 1.0);
}

.CharsCreation {
    position: relative;
    background: rgb(91,90,96);
    background: linear-gradient(180deg, rgb(65, 65, 66) 0%, rgba(42,41,41,1) 35%, rgba(41,46,47,1) 100%);
    width: 25%;
    height: 60%;
    left: 36%;
    top: 15%;
}

.list-label {
    display: flex;
    flex-direction: row;
}